<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h4 class="card-title"> </h4>

            <!--Inicio de Tarjetas vista-->
            <div class="row">

                <div class="col"></div>
                <div class="col-6">
                    <div class="card bg-dark text-white tarjeta" (click)="openCommerceMotel()">
                        <img src="../../../assets/images/logoLove.png" class="card-img-top">
                        <div class="card-img-overlay">
                        </div>
                    </div>
                    <div class="btnregistrar">
                        <i class='mdi mdi-plus btn btn-info' (click)="OpenFormCommerce(1)"></i>
                    </div>
                </div>
                <div class="col"></div>


                <!-- APARTADO LICORERIAS 
                    <div class="col-sm">
                    <div class="card bg-dark text-white tarjeta" (click)="openCommerceLicor()">
                        <img src="../../../assets/images/bar.jpg" class="card-img-top">
                        <div class="card-img-overlay">
                        </div>
                    </div>

                    <div class="btnregistrar">
                        <i class='mdi mdi-plus btn btn-info' (click)="OpenFormCommerce(2)"></i>
                    </div>
                </div> -->

                <!-- APARTADO SEXSHOPS
                    <div class="col-sm">
                    <div class="card bg-dark text-white tarjeta" (click)="openCommerceSex()">
                        <img src="../../../assets/images/logo-sexshop-sexuale.jpg" class="card-img-top">
                        <div class="card-img-overlay">
                        </div>
                    </div>

                    <div class="btnregistrar">
                        <i class='mdi mdi-plus btn btn-info' (click)="OpenFormCommerce(3)"></i>
                    </div>
                </div> -->

            </div>
        </div>
    </div>