<div class="row">
    <div class="col-md-12">
        <div class="card">
        
                <h4 class="card-title"> {{titulo}}</h4>
                
                <!--Inicio de Tarjetas vista-->

                <div class="row">

                    <div class="col-sm">
                      <div class="card bg-dark text-white" style="height: 350px !important;">
                            <img src="../../../assets/images/advance-card-bttf.png" style="height:100%" class="card-img-top" alt="qwe">
                        <div class="card-img-overlay">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a class="btn btn-primary" (click)="openCommerceMotel()">Go somewhere</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a class="btn btn-primary" (click)="openCommerceLicor()">Go somewhere</a>
                        </div>
                      </div>
                    </div>


                    <div class="col-sm">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a class="btn btn-primary" (click)="openCommerceSex()">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                  </div>


                <!--Fin de tarjetas vista-->


                <!-- Modal Administradores -->
            </div>
    </div>
</div>