<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{titulo}}</h4>
                <!--Modal Administradores-->
                <ng-template #contentAdd let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Registro de Administrador</h4>
                        <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--FORMULARIO DE ADMINISTRADORES-->
                        <form>
                            <div class="form-group">
                                <label class="control-label">Nombre del negocio: </label>
                                <ng-multiselect-dropdown name="multi"
  [placeholder]="'custom placeholder'"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
  (onFilterChange)="onFilterChange($event)"
>
</ng-multiselect-dropdown>
                            </div>
                            <!--Nombre-->
                            <div class="form-group">
                                <label class=" control-label">Nombres: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="usuario.nombre" name="nombre" placeholder="Ari"
                                        class="form-control input-md" required="">
                                </div>
                            </div>
                            <!--Apellido-->
                            <div class="form-group">
                                <label class=" control-label">Apellidos: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="usuario.apellidos" name="apellidos" placeholder="Castillo "
                                        class="form-control input-md" required="">
                                </div>
                            </div>
                            <!--Ci-->
                            <div class="form-group">
                                <label class=" control-label">Ci: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="usuario.ci" name="ci" placeholder="1254576CBB"
                                        class="form-control input-md" required="">
                                </div>
                            </div>
                            <!--Genero-->
                            <div class="form-group">
                                <label class=" control-label">Generos: </label>
                                <div class="">
                                    <select [(ngModel)]="usuario.genero" name="genero" class="form-control" id="selectCurso">
                                        <option></option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Otros">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <!--Contacto-->
                            <div class="form-group">
                                <label class=" control-label">Contacto: </label>
                                <div class="">
                                    <input type="number" [(ngModel)]="usuario.telefono" name="telefono" placeholder="76592654"
                                        class="form-control input-md" required="">
                                </div>
                            </div>

                            <!--Email-->
                            <div class="form-group">
                                <label class=" control-label">Email: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="usuario.email" name="email" placeholder="example@gmail.com"
                                        class="form-control input-md" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Foto: </label>
                                <div class="">
                                    <input type="file" (change)="changeListener($event)" #fileInput name="fileInput"
                                        class="form-control input-md" required="">
                                </div>
                            </div>
                            <!--Usuario-->
                            <div class="form-group">
                                <label class=" control-label">Usuario: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="user" name="usuario" placeholder="ari365" class="form-control input-md"
                                        required="">
                                </div>
                            </div>
                            <!--Contraseña-->
                            <div class="form-group">
                                <label class=" control-label">Contraseña: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="password" name="password" placeholder="ari9867KlP"
                                        class="form-control input-md" required="">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--Notificaciones-->
                    <div class="alert alert-danger" *ngIf="isError">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Error no se pudo guardar
                        el
                        registro
                    </div>

                    <div class="alert alert-success" *ngIf="isExito">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>registro guardado con
                        exito
                    </div>
                    <div class="alert alert-danger" *ngIf="isRequired">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Ingrese datos correctos
                    </div>
                    <!--btnCancelar / btnGuardar-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="cancelModal()">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="add()">Guardar</button>
                        <button *ngIf="a==1" (click)="ejm()">Ejemplo</button>
                    </div>
                </ng-template>
                <!--END MODAL-->

                <!--Boton registrar docente-->
                <i class='mdi mdi-account-multiple-plus btn btn-info' (click)="openFromRegistry(contentAdd)"></i>
                <!--Mensaje Notifiacion de accion-->
                <pre>{{closeResult}}</pre>
            </div>

            <!--FORMULARIO DE ACTUALIZACION-->
            <ng-template #contentUpdate let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">ACTUALIZAR DATOS DEL DOCENTE</h4>
                    <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!--Nombre-->
                        <div class="form-group">
                            <label class=" control-label">Nombres: </label>
                            <div class="">
                                <input type="text" [(ngModel)]="usuarioActualizado.nombre" name="nombre" class="form-control input-md" required="">
                            </div>
                        </div>
                        <!--Apellido-->
                        <div class="form-group">
                            <label class=" control-label">Apellidos: </label>
                            <div class="">
                                <input type="text" [(ngModel)]="usuarioActualizado.apellidos" name="apellidos" class="form-control input-md" required="">
                            </div>
                        </div>
                        <!--Ci-->
                        <div class="form-group">
                            <label class=" control-label">Ci: </label>
                            <div class="">
                                <input name="ci" [(ngModel)]="usuarioActualizado.ci" type="text" class="form-control input-md" required="">
                            </div>
                        </div>
                        <!--Genero-->
                        <div class="form-group">
                            <label class=" control-label">Genero: </label>
                            <div class="">
                                <select name="genero" [(ngModel)]="usuarioActualizado.genero" class="form-control">
                                    <option></option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otros">Otro</option>
                                </select>
                            </div>
                        </div>
                        <!--Contacto-->
                        <div class="form-group">
                            <label class="control-label">Contacto: </label>
                            <div class="">
                                <input [(ngModel)]="usuarioActualizado.telefono" name="conatco" type="number" class="form-control input-md" required="">
                            </div>
                        </div>
                        <!--Email-->
                        <div class="form-group">
                            <label class=" control-label">Email: </label>
                            <div class="">
                                <input name="email" [(ngModel)]="usuarioActualizado.email" type="text" class="form-control input-md" required="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="update()">ACTUALIZAR</button>
                </div>
            </ng-template>
            <!--END MODAL-->

            <!--MODAL DE VIEW INFO-->
            <ng-template #contentModelView let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Informacion del Admonistrador</h4>
                    <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-9">
                          <div class="panel panel-info">
                            <div class="panel-heading">
                              <h3 class="panel-title"></h3>
                            </div>
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-md-3"> <img alt="User Pic" src="https://www.socialtools.me/blog/wp-content/uploads/2016/04/foto-de-perfil.jpg"
                                    class="img-circle img-responsive"> </div>
          
                                <div class=" col-md-9 col-lg-9 ">
                                  <table class="table table-user-information">
                                    <tbody>
                                      <tr>
                                        <td>Nombre:</td>
                                        <td>Programming</td>
                                      </tr>
                                      <tr>
                                        <td>Apellidos:</td>
                                        <td>06/23/2013</td>
                                      </tr>
                                      <tr>
                                        <td>CI</td>
                                        <td>01/24/1988</td>
                                      </tr>
          
                                      <tr>
                                      <tr>
                                        <td>Genero</td>
                                        <td>Female</td>
                                      </tr>
                                      <tr>
                                        <td>Contacto</td>
                                        <td>Kathmandu,Nepal</td>
                                      </tr>
                                      <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                                      </tr>
                                      <td>Fecha de registro</td>
                                      <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                                      </td>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </ng-template>

            <!--MODAL ALERTA-->
            <!--Modal Eliminar-->
            <ng-template #contentDelete let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Registro</h4>
                    <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Desea eliminar el registro? especifique la razon</p>
                    <input #termino (keydown)="razonEliminar($event,termino.value)" name="razon" type="text" class="form-control input-md" required="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="cancelModal()">Cancelar</button>
                    <button type="button" [disabled]="!eliminar" class="btn btn-danger" (click)="delete(termino.value)">Eliminar</button>
                </div>
            </ng-template>

            <!--LISTA ADMINISTRADORES-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th class="hedarTitleTable" *ngFor="let head of headElements">{{head}}</th>
                            <th class="text-right hedarTitleTable">
                                Opciones
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usuarios, let i=index">
                                <td>{{i+1}}</td>
                                <td>{{user.nombre}}</td>
                                <td>{{user.apellidos}}</td>
                                <td>{{user.ci}}</td>
                                <td>{{user.genero}}</td>
                                <td>{{user.telefono}}</td>
                                <td>{{user.email}}</td>
                                <td class="text-right">
                                    <i class='mdi mdi-tablet btn btn-success' (click)="openModalView(contentModelView)"></i>
                                    <i class='mdi mdi-rotate-3d btn btn-warning' (click)="openModalUpdate(contentUpdate,user)"></i>
                                    <i class='mdi mdi-delete btn btn-danger' (click)="openModalDelete(contentDelete,user._id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>