<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{titulo}}</h4>
                <!--Modal Administradores-->
                <ng-template #contentAdd let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Registro de Administrador</h4>
                        <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--FORMULARIO DE ADMINISTRADORES-->
                        <form>
                            <div class="form-group">
                                <label class="control-label">Nombre del negocio: </label>
                                <ng-multiselect-dropdown name="multi" [placeholder]="'seleccionar'" [data]="dropdownList"
                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)" (onFilterChange)="onFilterChange($event)"
                                    required>
                                </ng-multiselect-dropdown>
                            </div>
                            <!--Nombre-->
                            <div class="form-group">
                                <label class=" control-label">Nombres: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="usuario.nombre" name="nombre" class="form-control input-md"
                                        required>
                                </div>
                            </div>
                            <!--Apellido-->
                            <div class="form-group">
                                <label class=" control-label">Apellidos: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="usuario.apellidos" name="apellidos" class="form-control input-md"
                                        required>
                                </div>
                            </div>
                            <!--Ci-->
                            <div class="form-group">
                                <label class=" control-label">Ci: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="usuario.ci" name="ci" class="form-control input-md"
                                        required>
                                </div>
                            </div>
                            <!--Genero-->
                            <div class="form-group">
                                <label class=" control-label">Generos: </label>
                                <div class="">
                                    <select [(ngModel)]="usuario.genero" name="genero" class="form-control" id="selectCurso">
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Otros">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <!--Contacto-->
                            <div class="form-group">
                                <label class=" control-label">Contacto: </label>
                                <div class="">
                                    <input type="number" [(ngModel)]="usuario.telefono" name="telefono" class="form-control input-md"
                                        required>
                                </div>
                            </div>

                            <!--Email-->
                            <div class="form-group">
                                <label class=" control-label">Email: </label>
                                <div class="">
                                    <input type="email" [(ngModel)]="usuario.email" name="email" class="form-control input-md"
                                        [required]="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Foto: </label>
                                <div class="">
                                    <input type="file" (change)="changeListener($event)" #fileInput name="fileInput"
                                        class="form-control input-md" required>
                                </div>
                            </div>
                            <!--Usuario-->
                            <div class="form-group">
                                <label class=" control-label">Usuario: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="user" name="usuario" class="form-control input-md"
                                        required="">
                                </div>
                            </div>
                            <!--Contraseña-->
                            <div class="form-group">
                                <label class=" control-label">Contraseña: </label>
                                <div class="">
                                    <input type="text" [(ngModel)]="password" name="password" class="form-control input-md"
                                        required="">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--Notificaciones-->
                    <div class="alert alert-danger" *ngIf="isError">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a> {{errorMensaje}}
                    </div>
                    <div class="alert alert-success" *ngIf="isExito">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Registro guardado con
                        exito.
                    </div>
                    <div class="alert alert-danger" *ngIf="isRequired">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Rellene los campos.
                    </div>
                    <!--btnCancelar / btnGuardar-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="cancelModal()">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="add()">Guardar</button>
                    </div>
                </ng-template>
                <!--END MODAL-->

                <!--Boton registrar docente-->
                <i class='mdi mdi-account-multiple-plus btn btn-info' (click)="openFromRegistry(contentAdd)"></i>
                <!--Mensaje Notifiacion de accion-->
                <pre>{{closeResult}}</pre>
            </div>

            <!--FORMULARIO DE ACTUALIZACION-->
            <ng-template #contentUpdate let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">ACTUALIZAR DATOS DEL ADINISTRADOR</h4>
                    <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!--Nombre-->
                        <div class="form-group">
                            <label class=" control-label">Nombres: </label>
                            <div class="">
                                <input type="text" [(ngModel)]="usuarioActualizado.nombre" name="nombre" class="form-control input-md"
                                    required="">
                            </div>
                        </div>
                        <!--Apellido-->
                        <div class="form-group">
                            <label class=" control-label">Apellidos: </label>
                            <div class="">
                                <input type="text" [(ngModel)]="usuarioActualizado.apellidos" name="apellidos" class="form-control input-md"
                                    required="">
                            </div>
                        </div>
                        <!--Ci-->
                        <div class="form-group">
                            <label class=" control-label">Ci: </label>
                            <div class="">
                                <input name="ci" [(ngModel)]="usuarioActualizado.ci" type="text" class="form-control input-md"
                                    required="">
                            </div>
                        </div>
                        <!--Negocios Actules-->
                        <div class="form-group">
                            <label class="text-dark control-label">Negocios Actuales: </label>

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr *ngFor="let negocio of negociosUsuario, let i=index">
                                            <td><label class="text-white bg-dark control-label">{{negocio.nombre}}</label></td>
                                            <td><i class='mdi mdi-delete btn btn-danger' (click)="removeCommerceTitular(negocio)"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--NUevos Negocios-->
                        <div class="form-group">
                            <label class="control-label">Nuevo Negocio: </label>
                            <ng-multiselect-dropdown name="multi" [placeholder]="'custom placeholder'" [data]="dropdownList"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)" (onFilterChange)="onFilterChange($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <!--Genero-->
                        <div class="form-group">
                            <label class=" control-label">Genero: </label>
                            <div class="">
                                <select name="genero" [(ngModel)]="usuarioActualizado.genero" class="form-control">
                                    <option></option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otros">Otro</option>
                                </select>
                            </div>
                        </div>
                        <!--Contacto-->
                        <div class="form-group">
                            <label class="control-label">Contacto: </label>
                            <div class="">
                                <input [(ngModel)]="usuarioActualizado.telefono" name="conatco" type="number" class="form-control input-md"
                                    required="">
                            </div>
                        </div>
                        <!--Email-->
                        <div class="form-group">
                            <label class=" control-label">Email: </label>
                            <div class="">
                                <input name="email" [(ngModel)]="usuarioActualizado.email" type="text" class="form-control input-md"
                                    required="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="update()">ACTUALIZAR</button>
                </div>
            </ng-template>
            <!--END MODAL-->

            <!--MODAL DE VIEW INFO-->
            <ng-template #contentModelView let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Informacion del Administrador</h4>
                    <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img *ngIf="profileUser.foto != undefind" alt="User Pic" [src]="profileUser.foto"
                                                class="img-circle img-responsive">
                                            <img *ngIf="profileUser.foto == undefind" alt="User Pic" src="../../../assets/images/fotoPerfil.png"
                                                class="img-circle img-responsive">
                                        </div>

                                        <div class=" col-md-9 col-lg-9 ">
                                            <table class="table table-user-information">
                                                <tbody>
                                                    <tr>
                                                        <td>Nombre:</td>
                                                        <td>{{profileUser.nombre}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Apellidos:</td>
                                                        <td>{{profileUser.apellidos}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CI</td>
                                                        <td>{{profileUser.ci}}</td>
                                                    </tr>

                                                    <tr>
                                                    <tr>
                                                        <td>Genero</td>
                                                        <td>{{profileUser.genero}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Contacto</td>
                                                        <td>{{profileUser.telefono}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td>{{profileUser.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fecha de creacion</td>
                                                        <td>{{profileUser.creacion.fecha | date: 'dd/MM/yyyy hh:mm'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fecha modificacion</td>
                                                        <td>{{profileUser.modificacion.fecha | date: 'dd/MM/yyyy
                                                            hh:mm'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h3><b>NEGOCIOS</b></h3>
                                                        </td>
                                                    </tr>
                                                    <tr *ngFor="let negocio of negociosUsuario, let i=index">
                                                        <td>{{negocio.tipo.nombre}}:</td>
                                                        <td class="text-white bg-dark">"{{negocio.nombre}}"</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!--MODAL ALERTA-->
            <!--Modal Eliminar-->
            <ng-template #contentDelete let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">¿Desea eliminar este administrador?</h4>
                    <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="text-danger">Al eliminar se borraran toda la informacion de los siguientes negocios
                        anexados:</label>
                    <div *ngFor="let negocio of negociosUsuario, let i=index">
                        <label class="text-danger">- {{negocio.nombre}}</label>
                    </div>
                    <p>Describe la razon (minímo de 14 caracteres):</p>
                    <input #termino (keydown)="razonEliminar($event,termino.value)" name="razon" type="text" class="form-control input-md"
                        required="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="cancelModal()">Cancelar</button>
                    <button type="button" [disabled]="!eliminar" class="btn btn-danger" (click)="delete(termino.value)">Eliminar</button>
                </div>
            </ng-template>

            <!--LISTA ADMINISTRADORES-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th class="hedarTitleTable" *ngFor="let head of headElements">{{head}}</th>
                            <th class="text-right hedarTitleTable">
                                Opciones
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usuarios, let i=index">
                                <td>{{i+1}}</td>
                                <td (click)="openModalView(contentModelView, user._id)">{{user.nombre}}</td>
                                <td>{{user.apellidos}}</td>
                                <td>{{user.ci}}</td>
                                <td>{{user.genero}}</td>
                                <td>{{user.telefono}}</td>
                                <td>{{user.email}}</td>
                                <td class="text-right">
                                    <i class='mdi mdi-rotate-3d btn btn-warning' (click)="openModalUpdate(contentUpdate,user)"></i>
                                    <i class='mdi mdi-delete btn btn-danger' (click)="openModalDelete(contentDelete,user._id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>