<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-info">{{tipoNegocio | uppercase}}</h2>
            </div>
            <!--LISTA Negocios-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th class="hedarTitleTable" *ngFor="let head of headElements">{{head}}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let commerce of listCommerce, let i=index" (click)="openListProducts(commerce)">
                                <td>{{i+1}}</td>
                                <td>{{commerce.nombre}}</td>
                                <td>{{commerce.telefono}}</td>
                                <td>{{commerce.productos}}</td>
                                <td>{{commerce.visitas.length}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>