<app-header></app-header>
<section class="Inicio" id="Inicio">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="first-slide" src="../../../assets/images/logoLove.png">
                <div class="container">
                    <div class="carousel-caption d-none d-md-block text-left">
                        <p>Descripcion</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="second-slide" src="../../../assets/images/bar.jpg">
                <div class="container">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Descripcion</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide" src="../../../assets/images/logo-sexshop-sexuale.jpg">
                <div class="container">
                    <div class="carousel-caption d-none d-md-block text-right">
                        <p>Descripcion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p id="Empresa"></p>
</section>

<section class="Empresa">
    <div class="empresaImagen">
        <h1>{{empresaTitulo}}</h1>
        <p>Descripcion de la empresa</p>
    </div>
    <p id="Servicio"></p>
</section>

<section class="Servicio">
    <h1>Servicios</h1><br>
    <div class="container servicio">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="../../../assets/images/logoLove.png" alt="Generic placeholder image"
                    width="140" height="140">
                <h2>Motel</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                    ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    Praesent commodo cursus magna.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="../../../assets/images/bar.jpg"
                    alt="Generic placeholder image" width="140" height="140">
                <h2>Licoreria</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="../../../assets/images/logo-sexshop-sexuale.jpg"
                    alt="Generic placeholder image" width="140" height="140">
                <h2>SexShop</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <p id="Contacto"></p>
</section>

<!--CONTACTO-->
<section class="Contacto">
    <div class="container">
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">
                <h1>Contáctanos</h1>
                <p class="lead">¿Tienes una pregunta o necesitas más información?</p>
                <p>Llena el formulario y nos pondremos en contacto contigo lo antes posible.</p> <br>
                <!-- FORMULARIO -->
                <div class="panel panel-default well">
                    <div class="panel-body">
                        <div>
                      

                            <!--NOMBRE-->
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">

                                        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Nombre(s)"
                                            name="C_FirstName" #nombre data-bv-field="C_FirstName">
                                    </div>
                                    <small data-bv-validator="notEmpty" data-bv-validator-for="C_FirstName" class="help-block"
                                        style="display: none;">Required</small>
                                </div>
                            </div>
                            <!--APELLIDO-->
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">

                                        <input type="text" class="form-control" id="exampleInputLastName" placeholder="Apellido(s)"
                                            name="C_LastName" #apellidos data-bv-field="C_LastName">
                                    </div>
                                    <small data-bv-validator="notEmpty" data-bv-validator-for="C_LastName" class="help-block"
                                        style="display: none;">Required</small>
                                </div>
                            </div>
                            <input type="email" name="email" ngModel email="true">
                            <!--EMAIL-->
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingresa email"
                                            name="C_EmailAddress" #email data-bv-field="C_EmailAddress">
                                    </div>
                                    <small data-bv-validator="notEmpty" data-bv-validator-for="C_EmailAddress" class="help-block"
                                        style="display: none;">Required</small>
                                </div>
                            </div>
                            <!--TELEFONO-->
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" #telefono id="C_BusPhone" placeholder="Teléfono"
                                            name="C_BusPhone">
                                    </div>
                                </div>
                            </div>
                            <!--DESCRIPCION-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <textarea class="form-control" #mensaje name="Comments" id="Comments" rows="5" style="width:99.9%"
                                            placeholder="Ingresa tu mensaje"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="isError">
                                <a class="close font-weight-light" data-dismiss="alert" href="#">×</a> 
                                Ocurrio un error y no se pudo enviar su mensaje
                            </div>
        
                            <div class="alert alert-success" *ngIf="isExito">
                                <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>
                                Su mensaje a sido envidado con exito, nos contactaremos con usted lo antes posible
                            </div>
                            <div class="alert alert-danger" *ngIf="isRequired">
                                <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Ingrese datos correctos
                            </div>
                            <!--DESCRIPCION-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button id="contacts-submit" (click)="enviar(nombre.value,apellidos.value,email.value,telefono.value,mensaje.value)"  class="btn btn-default btn-info">CONTACTANOS</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- END FORMULARIO -->
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>