.logonew{
    width: 80%;    
    text-align: left;
    margin-right: 700px;
}
.logonew p{
    padding: 15px;
    color: white;
    font-size: 1.2em;
    font-family: 'Baloo Bhai', cursive;
    margin: auto;
}