<nav class="navbar navbar-toggleable-md navbar-inverse">
    <div class="navbar-brand animated fadeInUp">
        <img class="rounded-circle imgLogo" src="../../../assets/images/logoWeb.png">
    </div>
    <ul class="nav-list ">
        <li class="nav-list-item">
            <a pageScroll routerLink="/inicio" class="nav-link">Inicio</a>
        </li>

        <li class="nav-list-item">
            <a pageScroll href="#Empresa" class="nav-link">Empresa</a>
        </li>

        <li class="nav-list-item">
            <a pageScroll href="#Servicio" class="nav-link">Servicios</a>
        </li>

        <li class="nav-list-item">
            <a pageScroll href="#Contacto" class="nav-link">Contacto</a>
        </li>
    </ul>
</nav>