<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img src="assets/images/users/1.jpg" alt="user" /> </div>
            <!-- User profile text-->
            <div class="profile-text">
                <label for="">Ari</label>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li [class.active]="showMenu === 'starter'">
                    <a routerLink="/administracion" (click)="addExpandClass('starter')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-arrange-bring-forward"></i><span class="hide-menu">Administracion</span></a>
                </li>

                <li>
                    <a routerLink="/administradores" (click)="addExpandClass('registry-owner')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-view-carousel"></i><span class="hide-menu">Administradores</span></a>
                </li>

                <li>
                    <a routerLink="/usuarios" (click)="addExpandClass('registry-user')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-view-carousel"></i><span class="hide-menu">Usuarios</span></a>
                </li>

                <li>
                    <a routerLink="/billetera" (click)="addExpandClass('wallet')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-view-carousel"></i><span class="hide-menu">Billetera</span></a>
                </li>

                <li>
                    <a routerLink="/denuncias" (click)="addExpandClass('complaint')" [routerLinkActive]="['router-link-active']"><i
                            class="mdi mdi-view-carousel"></i><span class="hide-menu">Denuncias</span></a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>