


<div class="row">
  <div id="banner" class="col-md-4"><img src="../../assets/Trixy2.jpeg"></div>
  <div id="banner2" class="col-md-4"></div>
  <div class="col-md-4"><h1 id="banner3"> Trixy Map </h1></div>
</div>

<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <agm-marker 
  *ngFor="let lugar of lugares"
  [label]="labelOptions"
  [iconUrl]="{ url:lugar.foto, scaledSize: { width: 40, height: 40, anchor : {x:50, y:50} }}"
  
  [latitude]="lugar.direccion.latitud" [longitude]="lugar.direccion.longitud">
    <agm-info-window [disableAutoPan]="true">
      Bienvenido a <strong>{{lugar.nombre}}</strong><br>
      Direccion: <strong>{{lugar.direccion.ubicacionFisica}}</strong><br>
      Telefono(s): <strong>{{lugar.telefono}}</strong>
    </agm-info-window>
    <!-- [iconUrl]="img" -->
  </agm-marker>
  
 
</agm-map>