<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> {{titulo}}</h4>
        <!--Modal -->
        <ng-template #contentView let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Perfil de usuario</h4>
            <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <!--FORMULARIO DE USUARIO-->
            <div class="row">
              <div class="col-lg-9">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img alt="User Pic" src="../../../assets/images/newicono.png"
                          class="img-circle img-responsive"> </div>

                      <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td>Nombre:</td>
                              <td>{{usuarioViewData.nombre}}</td>
                            </tr>
                            <tr>
                              <td>Apellidos</td>
                              <td>{{usuarioViewData.apellidos}}</td>
                            </tr>
                            <tr>
                              <td>Fecha de creacion:</td>
                              <td>{{usuarioViewData.creacion.fecha}}</td>
                            </tr>

                            <tr>
                            <tr>
                              <td>Genero</td>
                              <td>{{usuarioViewData.genero}}</td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td>{{usuarioViewData.email}}</td>
                            </tr>                     
                           
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="cancelModal()">Cerrar</button>

          </div>
        </ng-template>
        <!--END MODAL-->
        <pre>{{closeResult}}</pre>
      </div>

      <!--MODAL ALERTA-->
      <!--Modal Eliminar-->
      <ng-template #contentDelete let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Eliminar Usuario</h4>
          <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Desea suspender el registro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="cancelModal()">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div>
      </ng-template>
      <!--Modal Reporte-->
      <ng-template #contentSuspend let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Suspender Usuario</h4>
          <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Desea suspender al usuario?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="cancelModal()">Cancelar</button>
          <button type="button" class="btn btn-warning" (click)="suspend()">Suspender</button>
        </div>
      </ng-template>

      <!--LISTA USUARIOS-->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th class="hedarTitleTable" *ngFor="let head of headElements">{{head}}</th>
              <th class="text-right hedarTitleTable">
                Eliminar
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let user of usuarios, let i=index">
                <td>{{i+1}}</td>
                <td (click)="openModalView(contentView,user)">{{user.nombre}}</td>
                <td>{{user.apellidos}}</td>
                <td>{{user.genero}}</td>
                <td>{{user.email}}</td>
                <td class="text-right">
                  <i class='mdi mdi-arrow-down-bold-circle btn btn-warning' (click)="openModalSuspent(contentSuspend)"></i>
                  <i class='mdi mdi-delete btn btn-danger' (click)="openModalDelete(contentDelete)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>