<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{titulo}}</h4>
                <!--Modal Administradores-->
                <ng-template #contentAdd let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Registro de Negocio</h4>
                        <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--FORMULARIO DE ADMINISTRADORES-->
                        <form>
                           
                            <!--Nombre negocio-->
                            <div class="form-group">
                                <label class=" control-label">Nombres del Negocio: </label>
                                <div class="">
                                    <input [(ngModel)]="negocios.nombre" type="text"  name="apellidos" placeholder="Castillo " class="form-control input-md" required="">
                                </div>
                            </div>
                            <!--Direccion-->
                            <div class="form-group">


                                    <p>
                                            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                                                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                              Direccion
                                            </button>
                                          </p>
                                          <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                            <div class="card">
                                              <div class="card-body">
                                                    <label class=" control-label">Direccion de coordenadas</label>
                                                    <div class="">
                                                        <!--{ubicaciongps:string,descripcion:string}-->
                                                        <input [(ngModel)]="ubicaciongps" type="text"  name="gps" placeholder="1.345345435, -2.342342432" class="form-control input-md" required="">
                                                    </div>

                                                    <label class=" control-label">Descripcion de la ubicacion</label>
                                                    <div class="">
                                                        <input [(ngModel)]="descripcion" type="text"  name="des" placeholder="Av. C Nro. 1003" class="form-control input-md" required="">
                                                    </div>
                                              </div>
                                            </div>
                                          </div>
                                

                                
                            </div>
                            
                            
                            <!--Telefono-->
                            <div class="form-group">
                                <label class=" control-label">Telefono: </label>
                                <div class="">
                                    <input [(ngModel)]="negocios.telefono" type="number"  name="telefono" placeholder="76592654" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!--Titular-->
                            <div class="form-group">
                                <label class=" control-label">Titular</label>
                                <div class="">
                                    <input [(ngModel)]="negocios.titular" type="text" name="titular" placeholder="Propietario(a)" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!--Foto-->
                            <div class="form-group">
                                <label class=" control-label">Foto: </label>
                                <div class="">
                                    <input  type="file" (change)="changeListener($event)"  name="fileInput" class="form-control input-md" required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Tipos de Negocio</label>
                                <div>
                                    <select [(ngModel)]="negocios.tipo" name="genero" class="form-control" id="selectTipo">
                                        <option value="Elegir una opcion"></option>
                                        <option value="5c48958b734dbc052c531a0a">Motel</option>
                                        <option value="5c4884160a1ca42b68044bc6">Licoreria</option>
                                        <option value="5c4895b7577cc931d01645ff">Sex Shop</option>
                                    </select>
                                </div>
                            </div>

                            <!--Email-->
                            <div class="form-group">
                                <label class=" control-label">Correo(s): </label>
                                <div class="">
                                    <input [(ngModel)]="negocios.correo" type="text"  name="email" placeholder="example@gmail.com" class="form-control input-md"
                                        required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class=" control-label">Nit: </label>
                                <div class="">
                                    <input [(ngModel)]="negocios.nit" type="text"  name="email" placeholder="NIT:66545465465" class="form-control input-md"
                                        required="">
                                </div>
                            </div>
                           
                            
                        </form>
                    </div>
                    <!--Notificaciones-->
                    <div class="alert alert-danger" *ngIf="isError">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Error no se pudo guardar
                        el
                        registro
                    </div>
                    
                    <div class="alert alert-success" *ngIf="isExito">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>registro guardado con
                        exito
                    </div>
                    <div class="alert alert-danger" *ngIf="isRequired">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Ingrese datos correctos
                    </div>
                    <!--btnCancelar / btnGuardar-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="cancelModal()">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="add(negocios)">Guardar</button>
                    </div>
                </ng-template>

                <i class='mdi mdi-account-multiple-plus btn btn-info' (click)="openFromRegistry(contentAdd)"></i>
              </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th class="hedarTitleTable" *ngFor="let head of headElements">{{head}}</th>
                                
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of elements, let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{user.negocio}}</td>
                                    <td>{{user.direccion}}</td>
                                    <td>{{user.telefono}}</td>
                                   
                                    <td>{{user.titular}}</td>
                                    <td>{{user.email}}</td>
                                    <td class="text-right">
                                        <i class='mdi mdi-tablet btn btn-success' (click)="openModalView(contentModelView)"></i>
                                        <i class='mdi mdi-rotate-3d btn btn-warning' (click)="openModalUpdate(contentAdd)"></i>
                                        <i class='mdi mdi-delete btn btn-danger' (click)="openModalDelete(contentAdd)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
          </div>
    </div>
</div>