<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> {{titulo | uppercase}}</h4>
                <!--Modal Administradores-->
                <ng-template #contentAdd let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">{{tituloregistro | uppercase}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--FORMULARIO DE ADMINISTRADORES-->
                        <form>
                           
                            <!--Nombre negocio-->
                            <div class="form-group">
                                <label class=" control-label">Nombres del Negocio: </label>
                                <div class="">
                                    <input [(ngModel)]="negocios.nombre" type="text"  name="apellidos" placeholder="Castillo " class="form-control input-md" required="campo reqierodp">
                                </div>
                            </div>
                            <!--Direccion-->
                            <div class="form-group">


                                    <p>
                                            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                                                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                              Direccion
                                            </button>
                                          </p>
                                          <div id="collapseExample" [ngbCollapse]="isCollapsed">
                                            <div class="card">
                                              <div class="card-body">
                                                    <label class=" control-label">Direccion Fisica</label>
                                                    <div class="">
                                                        <!--{ubicaciongps:string,descripcion:string}-->
                                                        <input [(ngModel)]="ubicacionFisica" type="text"  name="gps" placeholder="Av. x Nro 125" class="form-control input-md" required="">
                                                    </div>

                                                    <label class=" control-label">Latitud</label>
                                                    <div class="">
                                                        <input [(ngModel)]="latitud" type="text"  name="lat" placeholder="-32.36589888 latitud" class="form-control input-md" disabled required="">
                                                    </div>
                                                    <label class=" control-label">Longitud</label>
                                                    <div class="">
                                                        <input [(ngModel)]="longitud" type="text"  name="long" placeholder="-60.36598852 longitud" class="form-control input-md" disabled required="">
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-outline-primary" (click)="verificacionGeolocalizacion()">Mi Ubicacion</button>
                                                    </div>
                                              </div>
                                            </div>
                                          </div>                               

                                
                            </div>
                            
                            
                            <!--Telefono-->
                            <div class="form-group">
                                <label class=" control-label">Telefono: </label>
                                <div class="">
                                    <input [(ngModel)]="negocios.telefono" type="number"  name="telefono" placeholder="76592654" class="form-control input-md" required="">
                                </div>
                            </div>
                            

                            <!--Foto-->
                            <div class="form-group">
                                <label class=" control-label">Foto: </label>
                                <div class="">
                                    <input  type="file" (change)="changeListener($event)"  name="fileInput" class="form-control input-md" required="">
                                </div>
                            </div>

                            <div style="display:none" class="form-group">
                                <label class="control-label">Tipos de Negocio</label>
                                <div>
                                    <select  [(ngModel)]="negocios.tipo" name="genero" class="form-control" id="selectTipo">
                                        <option value="Elegir una opcion"></option>
                                        <option >Motel</option>
                                        <option >Licoreria</option>
                                        <option >Sex Shop</option>
                                    </select>
                                </div>
                            </div>

                            <!--Email-->
                            <div class="form-group">
                                <label class=" control-label">Correo(s): </label>
                                <div class="">
                                    <input [(ngModel)]="negocios.correo" type="email"  name="correo" placeholder="example@gmail.com" class="form-control input-md"
                                        required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class=" control-label">Nit: </label>
                                <div class="">
                                    <input [(ngModel)]="negocios.nit" type="text"  name="nit" placeholder="NIT:66545465465" class="form-control input-md"
                                        required="">
                                </div>
                            </div>
                           
                            
                        </form>
                    </div>
                    <!--Notificaciones-->
                    <div class="alert alert-danger" *ngIf="isError">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Error no se pudo guardar
                        el
                        registro
                    </div>
                    
                    <div class="alert alert-success" *ngIf="isExito">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>registro guardado con
                        exito
                    </div>
                    <div class="alert alert-danger" *ngIf="isRequired">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Datos incorrectos, posiblemente esten vacios o correo invalido, llene todos los campos.
                    </div>
                    <!--btnCancelar / btnGuardar-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="cancelModal()">Cancelar</button>
                        <button *ngIf="flag==0" type="button" class="btn btn-success" (click)="add(negocios)">Guardar</button>
                        <button *ngIf="flag==1" type="button" class="btn btn-success" (click)="update(negocios)">Actualizar</button>
                         <!-- <button *ngIf="flag==0" type="button" class="btn btn-success" (click)="ver()">CLICKME</button>  -->
                     
                    </div>
                </ng-template>

                <!--MODAL ELIMINAR-->
                <ng-template #contentDelete let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">Eliminar Usuario</h4>
                      <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class=" control-label">Razon de Borrado (Minimo 12 caracteres en el campo) </label>
                                <div class="">
                                    <input  #termino (keydown)="razonEliminar($event,termino.value)" [(ngModel)]="razonBorrado" type="text"  name="razonbr" class="form-control input-md"
                                        required="">
                                </div>
                            </div>

                              <!--Notificaciones-->
                    <div class="alert alert-danger" *ngIf="isError">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Error no se pudo guardar
                        el
                        registro
                    </div>
                    
                    <div class="alert alert-success" *ngIf="isExito">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>registro guardado con
                        exito
                    </div>
                    <div class="alert alert-danger" *ngIf="isRequired">
                        <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Dato(s) invalidos, ingrese la razon por la cual esta siendo borrado
                    </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-light" (click)="cancelModal()">Cancelar</button>
                              <button type="button" [disabled]="!eliminar" class="btn btn-danger" (click)="delete()">Eliminar</button>
                            </div>
                        </form>
                    </div>

                   
                  </ng-template>

                  <!--VISTA DE CONTENIDOS-->
                  <ng-template #contentModelView let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Informacion del Administrador</h4>
                        <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">                   
    
                                            <div class=" col-md-9 col-lg-9 ">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                        <tr>
                                                            <td>Nombre:</td>
                                                            <td>{{negocios.nombre}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Direccion:</td>
                                                            <td>{{negocios.direccion.ubicacionFisica}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Telefono</td>
                                                            <td>{{negocios.telefono}}</td>
                                                        </tr>
    
                                                        <tr>
                                                        <tr>
                                                            <td>Correo</td>
                                                            <td>{{negocios.correo}}</td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <i class='mdi mdi-account-multiple-plus btn btn-info' (click)="openFromRegistry(contentAdd,0)"></i>
              </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th class="hedarTitleTable" *ngFor="let head of headElements">{{head}}</th>
                                
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of ListaNegocio, let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{user.nombre}}</td>
                                    <td>{{user.direccion.ubicacionFisica}}</td>
                                    <td>{{user.telefono}}</td>                            
                                    <td>{{user.correo}}</td>
                                    <td class="text-right">
                                        <i class='mdi mdi-tablet btn btn-success' (click)="openModalView(contentModelView,user)"></i>
                                        <i class='mdi mdi-rotate-3d btn btn-warning' (click)="openModalUpdate(contentAdd,user,1)"></i>
                                        <i *ngIf="user.titular == undefind" class='mdi mdi-delete btn btn-danger' (click)="openModalDelete(contentDelete,user)"></i>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            
          </div>
    </div>
</div>